body {
    text-align: center;
}
/* Modal Section - Source: W3Schools */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: 'Coda', cursive;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 35% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}

.Btn {
	color: #ffffff;
	background: #02b3e4;
	width: 120px;
	height: 48px;
	font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}